ol {
  list-style: none;
}

li {
  width: 23.3333%; 
  background-color: cadetblue; 
  float: left; 
  padding: 12px; 
  margin: 8px;
  border-radius: 8px; 
  border: 2px solid #5f8284;
}

img {
  width: 50%; 
  height: 150px
}

li {
  margin-right: 7%;
}

